@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Noto Sans KR', 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.productInputContainer {
  @apply relative w-[200px] h-[40px] border rounded-lg p-2 text-sm;
}

.productInput {
  @apply w-4/5 h-full focus:outline-none;
}

.productInputPlaceHolder {
  @apply absolute top-1/2 left-2 -translate-y-1/2 pointer-events-none;
}
