@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Noto Sans KR', 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.button-with-ripple {
  overflow: hidden;
  position: relative;
  background-color: aquamarine;
  display: inline-block; /* 추가: 인라인 블록 요소로 설정 */
  cursor: pointer; /* 추가: 커서를 포인터로 설정하여 클릭 가능한 것으로 나타냄 */
}

.button-with-ripple::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background: rgba(194, 81, 81, 0.6);
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
}

.button-with-ripple:hover::after,
.button-with-ripple:active::after {
  transform: scale(4);
  opacity: 1;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 1;
  }
}
